<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update</title>
  </head>
  <body>
    <h2>Update Your Trade</h2>
    <form action="/trades/<%= trade._id %>?_method=PUT" method="POST">
      <label for="position"
        >Position:
        <select name="position" value="<%= trade.position %>">
          <% if (trade.position === "Long"){%> 
          <option value="Long" selected>Long</option>
          <% } else {%> <option value="Long">Long</option>
          <% }; %>
          <% if (trade.position === "Short"){%> 
          <option value="Short" selected>Short</option>
          <% } else {%> <option value="Short">Short</option>
          <% }; %>
        </select> </label
      ><br />
      <label for="stat"
        >Status:
        <select name="stat" value="<%= trade.stat %>">
          <% if (trade.stat === "Closed"){%>
          <option value="Closed" selected>Closed</option>
          <% } else {%> <option value="Closed">Closed</option>
          <% }; %>
          <% if (trade.stat === "Opened"){%>
          <option value="Opened" selected>Opened</option>
          <% } else {%> <option value="Opened">Opened</option>
          <% }; %>


        </select> </label
      ><br />
      <label
        >Pair:
        <input type="text" name="pair" list="pair_list" value="<%= trade.pair %>">
        <datalist id="pair_list">
            <% cryptoData.symbols.forEach(function(p) { %>
              <option value="<%= p.symbol %>"><%= p.symbol %></option>
              <% }); %>
            </datalist>
          </label>
      <br />
      <label for="openDate"
        >Open Date:
        <input type="date" name="openDate" value= <%= tradeDateOpen %> /> </label
      ><br />

      <label for="openPrice"
        >Open Price:
        <input
          type="number"
          name="openPrice"
          value="<%= trade.openPrice %>"
        /> </label
      ><br />

      <label for="quantity"
        >Quantity:
        <input
          type="number"
          name="quantity"
          value="<%= trade.quantity %>"
        /> </label
      ><br />

      <label for="closeDate"
        >Close Date:
        <input type="date" name="closeDate" value= <%= tradeDateClose %> /> </label
      ><br />

      <label for="closePrice"
        >Close Price:
        <input
          type="number"
          name="closePrice"
          value="<%= trade.closePrice %>"
        /> </label
      ><br />
      <label for="fees"
        >Fees:
        <input type="number" name="fees" value="<%= trade.fees %>" /> </label
      ><br />
      <input type="submit" value="Update Trade" />
    </form>
  </body>
</html>
