<%- include('../partials/header.ejs') %>
<div class="edit-trade-container">
  <div><h2>Update Your Trade</h2></div>
  <div class="edit-trade-container-form">
    <form action="/trades/<%= trade._id %>?_method=PUT" method="POST">

      <div class="edit-trade-row">
      <div><label for="position">Position:</label></div>
        <div><select name="position" value="<%= trade.position %>" id="position">
          <% if (trade.position === "Long"){%> 
          <option value="Long" selected>Long</option>
          <% } else {%> <option value="Long">Long</option>
          <% }; %>
          <% if (trade.position === "Short"){%> 
          <option value="Short" selected>Short</option>
          <% } else {%> <option value="Short">Short</option>
          <% }; %>
        </select></div></div>

      <div class="edit-trade-row">
      <div><label for="stat">Status:</label></div>
      <div>
        <select name="stat" value="<%= trade.stat %>" id="stat">
          <% if (trade.stat === "Closed"){%>
          <option value="Closed" selected>Closed</option>
          <% } else {%> <option value="Closed">Closed</option>
          <% }; %>
          <% if (trade.stat === "Opened"){%>
          <option value="Opened" selected>Opened</option>
          <% } else {%> <option value="Opened">Opened</option>
          <% }; %>
        </select> </div></div>
      
      
        <div class="edit-trade-row">
      <div><label for="pair">Pair:</label></div>
      <div>
        <input type="text" name="pair" list="pair_list" value="<%= trade.pair %>" id="pair">
        <datalist id="pair_list">
            <% cryptoData.symbols.forEach(function(p) { %>
              <option value="<%= p.symbol %>"><%= p.symbol %></option>
              <% }); %>
            </datalist>
          </div></div>
      


            <div class="edit-trade-row"> 
              <div><label for="openDate" >Open Date:</label></div>
                <div><input type="date" name="openDate" value="<%= tradeDateOpen %>" id="openDate" /></div></div>

      <div class="edit-trade-row">
      <div><label for="openPrice"
        >Open Price:</label></div>
        <div><input
          type="number"
          name="openPrice"
          value="<%= trade.openPrice %>"
        /> </div></div>

      <div class="edit-trade-row">
      <div><label for="quantity"
        >Quantity:</label
        ></div>
        <div><input
          type="number"
          name="quantity"
          value="<%= trade.quantity %>"
        /> </div></div>

      <div class="edit-trade-row">
      <div><label for="closeDate"
        >Close Date:</label
        ></div>
       <div> <input type="date" name="closeDate" value= <%= tradeDateClose %> /> </div></div>

      <div class="edit-trade-row">
      <div><label for="closePrice"
        >Close Price:</label
        ></div>
        <div><input
          type="number"
          name="closePrice"
          value="<%= trade.closePrice %>"
        /> </div></div>

      <div class="edit-trade-row">
      <div><label for="fees"
        >Fees:</label
        ></div>
        <div><input type="number" name="fees" value="<%= trade.fees %>" /> </div></div>

      <div class="edit-trade-row submit">
      <input type="submit" value="Update Trade" /></div>

    </form>
    </div>
  </div>
    <%- include('../partials/footer.ejs') %>
