<%- include('../partials/header.ejs') %>
<div class="add-trade-container">
    <div><h2>Enter a New Trade</h2></div>
    <div class="add-trade-container-form">
      
    <form action="/trades/trades" method="POST">
      <div class="add-trade-row">
      <div><label for="position">Position:</label></div>
        <div><select name="position" id="position">
          <option value="Long" selected>Long</option>
          <option value="Short">Short</option>
        </select> </div></div>

        <div class="add-trade-row">    
          <div><label for="stat">Status:</label></div>
          <div><select name="stat" id="stat">
          <option value="Closed" selected>Closed</option>
          <option value="Opened">Opened</option>
        </select> </div></div>

        <div class="add-trade-row"> 
          <div> <label for="pair">Pair:</label></div>
            <div>
        <input type="text" name="pair" list="pair_list" placeholder="Choose a pair" id="pair" />
        <datalist id="pair_list">
          <% cryptoData.symbols.forEach(function(p) { %>
          <option value="<%= p.symbol %>"><%= p.symbol %></option>
          <% }); %>
        </datalist> </div></div>
        <div class="add-trade-row"> 
      <div><label for="openDate" >Open Date:</label></div>
        <div><input type="date" name="openDate" value="<%= tradeDate %>" id="openDate" /></div></div>
       
        <div class="add-trade-row">
     <div> <label for="openPrice">Open Price:</label></div> <div><input type="number" name="openPrice" value ="0" id="openPrice"/></div></div>

     <div class="add-trade-row">
      <div><label for="quantity">Quantity:</label> </div><div><input type="number" name="quantity" value ="0" id="quantity"></div></div>

      <div class="add-trade-row">
      <div><label for="closeDate">Close Date: </label></div><div><input type="date" name="closeDate" id="closeDate"/> </div></div>

      <div class="add-trade-row">
      <div><label for="closePrice">Close Price:</label></div> <div><input type="number" name="closePrice" value ="0" id="closePrice"/> </div></div>

      <div class="add-trade-row">
      <div><label for="fees">Fees:</label></div> <div><input type="number" name="fees" value ="0" id="fees"/> </div></div>

      <div class="add-trade-row">
      <div><label for="ind">Indicators:</label></div>
      <div><select name="ind" multiple id="ind">
        <% indicators.forEach(function(i) { %>
        <option multiple value="<%= i._id %>"><%= i.name %></option>
        <% }); %>  </select></div></div>
        
        <div class="add-trade-row submit">
         <input type="submit" value="Add Trade"/></div>
      
    </form>
  </div>
</div>
    <%- include('../partials/footer.ejs') %>