<%- include('../partials/header.ejs') %>
<div class="trade-details-container">
  <div class="trade-details-header"><h2>Trade Details</h2></div>
  <div class="trade-details-indicators-container">
    <div class="trade-details">
      <div class="trade-details-row"> <div>Position:</div>
      <div><%= trade.position %></div></div>
       <div class="trade-details-row"><div>Status:</div>
       <div><%= trade.stat %></div></div>
        <div class="trade-details-row"><div>Pair:</div>
        <div><%= trade.pair %></div></div>
        <div class="trade-details-row"><div>Open Date:</div>
        <div><%= trade.openDate.toLocaleDateString('en-GB', {timeZone: 'UTC'}) %></div></div>
        <div class="trade-details-row"><div>Open Price:</div>
        <div><%= trade.openPrice %></div></div>
        <div class="trade-details-row"> <div>Quantity:</div>
        <div><%= trade.quantity %></div></div>
       <div class="trade-details-row"> <div>Close Date:</div>
       <div> <% if (trade.closeDate) {%> <%= trade.closeDate.toLocaleDateString('en-GB',
         {timeZone: 'UTC'}) %> <% } else { %> - <% } %></div></div>
       <div class="trade-details-row">  <div>Close Price:</div>
        <div><% if (trade.closePrice) {%> <%= trade.closePrice %> <% } else { %> - <% }
          %></div></div>
      <div class="trade-details-row"> <div>Fees Paid:</div>
      <div><% if (trade.fees) {%> <%= trade.fees %> <% } else { %> - <% } %></div></div>
       
        <div class="trade-details-row"><div class="edit-edit-btn"><a href="/trades/<%= trade._id %>/edit">Edit</a></div></div>
      </div>

      <div class="indicators-container">
      <div class="indicators-header">Indicators used for trade:</div>
      <div class="indicator-list">
        <div class="indicators">
      <% if (trade.ind.length) { %>
      
        <%- trade.ind.map(i => `
        <div class="indicators-elements">
        <div>${i.name}</div>
       <div ><form class="delete-indicator"
        action="/trades/${trade._id}/indicators/${i._id}?_method=delete"
        method="POST"
      > <button class = "delete-indicator-btn"><span>X</span></button></form></div></div>
      `).join('') %>
      <% } else { %>
        No Indicators
        <% } %>
      </div>


<div></div>
      <form
  action="/trades/<%= trade._id %>/indicators"
  method="POST"
>
  <select name="indicatorId">
    <%- indicators.map(i => `
    <option value="${i._id}">${i.name}</option>
    `).join('') %>
  </select>
  <button type="submit" class = "add-indicator-btn">Add Indicator</button>
</form></div></div></div>




<div class="comments-container">
  <div class="comments-header">Comments:</div>
  <% if (trade.comments.length) { %>
    <table class="table-comments">
      <thead>
        <tr class="table-comments">
          <th class="comments-date-column table-comments">Date created:</th>
          <th class="comments-text-column table-comments">Text:</th>
        </tr>
      </thead>
      <tbody>
          <% trade.comments.sort((a, b) => a.createdAt - b.createdAt) %>
        <% trade.comments.forEach(function(t) { %>
        <tr class="table-comments">
          <td class="comments-date-column table-comments"><%= t.createdAt.toLocaleDateString('en-GB', {timeZone: 'UTC'}) %></td>
          <td class="comments-text-column table-comments"><div class="comment-content"><%= t.content %> </div><div><form
            action="/trades/<%= trade._id %>/comments/<%= t._id %>?_method=delete"
            method="POST"
          >
            <button class ="delete-comment-btn">X</button>
          </form></div></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    No Comments Yet
    <% } %>
 <div class="add-comments-container">
  <div class="comments-header">Add a Comment</div>
<form
  method="POST"
  action="/trades/<%= trade._id %>/comments"
>
<div>
  <textarea name="content"></textarea></div>
  <div> <input class="add-comment-btn" type="submit" value="Add Comment" /></div>
</form></div></div></div>
</div>
<%- include('../partials/footer.ejs') %>