<%- include('../partials/header.ejs') %>
<div class="trade-table">
  <div class="trade-header"><h2>Trades</h2></div>
  <div>
    <table>
      <thead>
        <tr class="border_bottom">
          <th>Position</th>
          <th>Status</th>
          <th>Pair</th>
          <th>Indicators</th>
          <th>Open Date</th>
          <th>Open Price</th>
          <th>Quantity</th>
          <th>Close Date</th>
          <th>Close Price</th>
          <th>Fees Paid</th>
          <th>P/L USD</th>
          <th>P/L %</th>
          <th>Details</th>
          <th>Edit Trade</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% trades.sort((a, b) => a.openDate - b.openDate) %> 
        <% trades.sort(function(a, b){
          if(a.stat < b.stat) { return 1; }
          if(a.stat > b.stat) { return -1; }
          return 0;
      }) %> 
        <% let pl = 0 %> <% let pr = 0 %> <%
        trades.forEach(function(t) { %>
        <tr class="border_bottom">
          <td>
            <% if (t.position === "Long"){%>
            <span class="icon-long"
              ><i class="fa-solid fa-arrow-trend-up"></i></span
            ><% } else {%><span class="icon-short"
              ><i class="fa-solid fa-arrow-trend-down"></i></span
            ><% }; %>
          </td>
          <td><%= t.stat %></td>
          <td><%= t.pair %></td>
          <td>
            <% if (t.ind.length) { %>
            <ul>
              <%- t.ind.map(i => `
              <li class = "list-indicators">${i.name}</li>
              `).join('') %>
            </ul>
            <% } else { %>
            <h5>No Indicators</h5>
            <% } %>
          </td>
          <td>
            <%= t.openDate.toLocaleDateString('en-GB', {timeZone: 'UTC'}) %>
          </td>
          <td><%= t.openPrice %></td>
          <td><%= t.quantity %></td>
          <td>
            <% if (t.closeDate) {%> <%= t.closeDate.toLocaleDateString('en-GB',
            {timeZone: 'UTC'}) %> <% } else { %> - <% } %>
          </td>
          <td>
            <% if (t.closePrice) {%> <%= t.closePrice %> <% } else { %> - <% }
            %>
          </td>
          <td><% if (t.fees) {%> <%= t.fees %> <% } else { %> - <% } %></td>
          <% if (t.closeDate && t.closePrice) { pl = (t.closePrice -
          t.openPrice) * t.quantity - t.fees} %>
          <td>
            <% if (t.closeDate && t.closePrice) {%> <%= pl %> <% } else { %> -
            <% } %>
          </td>
          <% if (t.closeDate && t.closePrice) pr = (pl -
          t.fees)/(t.openPrice*t.quantity) * 100 %>
          <td>
            <% if (t.closeDate && t.closePrice) {%> <%= Math.floor(pr) %>%<% }
            else { %> - <% } %>
          </td>
          <td>
            <a href="/trades/<%= t._id %>"
              ><button class="button button-details">Details</button></a
            >
          </td>
          <td>
            <a href="/trades/<%= t._id %>/edit"
              ><button class="button button-edit">Edit</button></a
            >
          </td>
          <td>
            <form action="/trades/<%= t._id %>/?_method=delete" method="POST">
              <button class="button button-delete">X</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
