<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trades</title>
  </head>
  <body>
    <h1>Trades</h1>
    <table>
      <thead>
        <tr>
          <th>Position</th>
          <th>Status</th>
          <th>Pair</th>
          <th>Indicators</th>
          <th>Open Date</th>
          <th>Open Price</th>
          <th>Quantity</th>
          <th>Close Date</th>
          <th>Close Price</th>
          <th>Fees Paid</th>
          <th>P/L USD</th>
          <th>P/L %</th>
        </tr>
      </thead>
      <tbody>
        <% let pl = 0 %> <% let pr = 0 %> <% trades.forEach(function(t) { %>
        <tr>
          <td><%= t.position %></td>
          <td><%= t.stat %></td>
          <td><%= t.pair %></td>
          <td>
            <% if (t.ind.length) { %>
            <ul>
              <%- t.ind.map(i => `
              <li>${i.name}</li>
              `).join('') %>
            </ul>
            <% } else { %>
            <h5>No Indicators</h5>
            <% } %>
          </td>
          <td>
            <%= t.openDate.toLocaleDateString('en-GB', {timeZone: 'UTC'}) %>
          </td>
          <td><%= t.openPrice %></td>
          <td><%= t.quantity %></td>
          <td>
            <% if (t.closeDate) {%> <%= t.closeDate.toLocaleDateString('en-GB',
            {timeZone: 'UTC'}) %> <% } else { %> - <% } %>
          </td>
          <td>
            <% if (t.closePrice) {%> <%= t.closePrice %> <% } else { %> - <% }
            %>
          </td>
          <td><% if (t.fees) {%> <%= t.fees %> <% } else { %> - <% } %></td>
          <% if (t.closeDate && t.closePrice) { pl = (t.closePrice -
          t.openPrice) * t.quantity - t.fees} %>
          <td>
            <% if (t.closeDate && t.closePrice) {%> <%= pl %> <% } else { %> -
            <% } %>
          </td>
          <% if (t.closeDate && t.closePrice) pr = (pl -
          t.fees)/(t.openPrice*t.quantity) * 100 %>
          <td>
            <% if (t.closeDate && t.closePrice) {%> <%= Math.floor(pr) %>%<% }
            else { %> - <% } %>
          </td>
          <td><a href="/trades/<%= t._id %>">DETAILS</a></td>
          <td><a href="/trades/<%= t._id %>/edit">EDIT</a></td>
          <td>
            <form action="/trades/<%= t._id %>/?_method=delete" method="POST">
              <button>X</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
